*{
	font-family: 'Ubuntu', sans-serif;
}

body{
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
}

#navbar{
  background-color: rgba(223, 215, 207, 0.4);
}

.lime_green{
  color: #2F0A4E !important;
}

#logo{
	max-width: 40px;
  margin-top: -7px;
  border-radius: 3px;
}

#heading{
  font-size: 28px;
	color: #4eff00;
  margin-top: 3px;
}

/*sup{
  font-family: 'Lora', serif;
  color: rgba(0,0,0,0.4);
}*/

.navbar-nav > li{
  margin-left: 25px;
}


